<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="handset-links">
     
      <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/" (click)="drawer.close()">Forside</a>
      <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/produkter" (click)="drawer.close()">Produkter</a>
      <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/kød" (click)="drawer.close()">Kød</a>
      <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/køkkenhaver" (click)="drawer.close()">Køkkenhaver</a>
      <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/kontakt" (click)="drawer.close()">Kontakt</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
  <div class="hero"></div>

    <mat-toolbar color="primary" class="dense-toolbar">
      <button 
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">


        Menu
      </button>
      <div *ngIf="!(isHandset$ | async)" class="links">
        <a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">Forside</a>
        <a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/produkter">Produkter</a>
        <a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/kød">Kød</a>
        <a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/køkkenhaver">Køkkenhaver</a>
        <a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/kontakt">Kontakt</a>
      </div>
    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>