<div class="page">
  <app-title>Kontakt</app-title>

  <main>
    <section>
      <p class="mat-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis
        lectus quis sem lacinia nonummy. Proin mollis lorem non dolor. In hac
        habitasse platea dictumst. Nulla ultrices odio. Donec augue. Phasellus
        dui. Maecenas facilisis nisl vitae nibh. Proin vel seo est vitae eros
        pretium dignissim. Aliquam aliquam sodales orci. Suspendisse potenti.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis
        lectus quis sem lacinia nonummy. Proin mollis lorem non dolor. In hac
        habitasse platea dictumst. Nulla ultrices odio. Donec augue. Phasellus
        dui. Maecenas facilisis nisl vitae nibh. Proin vel seo est vitae eros
        pretium dignissim. Aliquam aliquam sodales orci. Suspendisse potenti.
      </p>
      <br />
      <br />
      <strong>Hittegodset</strong> <br />
      <strong>Adresse</strong>
      <br />
      <p>Langengevej 133</p>
      <p>Risskov, Aarhus</p>
      <br />
      <strong>Kontakt</strong>
      <br>
      <p>Email: Hittegodset@webspeed.dk</p>
      <p>Telefon: 51 35 67 03</p>
      <a
        mat-button
        class="direction-link"
        color="primary"
        target="_blank"
        href="https://www.google.com/maps/dir//56.203658,10.2035979/@56.203658,10.203598,13z?hl=en-US"
        >Klik for rutevejledning</a
      >
    </section>
    <aside>
      <iframe
        class="maps"
        frameborder="0"
        style="border: 0;"
        src="https://www.google.com/maps/embed/v1/place?q=Langengevej%20133&key=AIzaSyDkrUZaOb0HjbpNmfUlNfNUiVfwn6MVGg0&zoom=13"
        allowfullscreen
      ></iframe>
    </aside>
  </main>
</div>
